name: Daily Snapshot

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  run-worker:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore
      run: dotnet restore Aoe2HubAPI/Aoe2HubAPI.csproj

    - name: Run Worker
      run: dotnet run --project Aoe2HubAPI/Aoe2HubAPI.csproj
